day2/workflows/01_basic_chatbot.json
{
  "name": "01 - Basic AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chatbot-webhook",
      "notes": "Receives user message via HTTP POST"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_OPENROUTER_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.io"
            },
            {
              "name": "X-Title",
              "value": "n8n Workshop Chatbot"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful AI assistant. Keep responses concise and friendly.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $json.body.message\n    }\n  ]\n} }}",
        "options": {}
      },
      "name": "OpenRouter Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "notes": "Sends message to OpenRouter API and gets AI response.\n\nSetup: Replace 'YOUR_OPENROUTER_API_KEY_HERE' in the Authorization header with your OpenRouter API key.\n\nAlternatively, create an HTTP Header Auth credential:\n1. Go to Credentials → Add Credential → HTTP Header Auth\n2. Name: 'Authorization', Value: 'Bearer YOUR_API_KEY'\n3. Then use: =Bearer {{ $credentials.httpHeaderAuth.value }}"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.choices[0].message.content } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300],
      "notes": "Sends AI response back to user"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenRouter Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-22T00:00:00.000Z",
  "versionId": "1"
}

